@{
  Layout = "_Layout";
}
@model DogDepot.Models.Animal

<h2>Animal Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description):  @Html.DisplayFor(model => model.Description)</h3>
<br />
<p>@Html.ActionLink("Edit Animal", "Edit", new { id = Model.AnimalId })</p>
<p>@Html.ActionLink("Delete Animal", "Delete", new { id = Model.AnimalId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
